* {
    margin: 20;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    

    top: 0;
    left: 0;
    height: 100%;
    overflow:scroll;
  
}

.title {
    text-align: center;
}

.description {
    text-align: center;
}

form {
    
   
    text-align: center;
    
    padding: 20px;
    border-radius: 2px;
    border-color: black;
    border-style: inset;
    width: 50%;
    
    margin-left: 25%;
    overflow: scroll;
    
}

input {
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
    text-align: start;
    cursor: text;
    margin-bottom: 20px;
    /* padding :10px; */
    border-style: inset;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}



label {
    margin-bottom: 10px;
    font-size: large;
}