* {
    margin: 20;
    padding: 0;
    

}

body {
    top: 0;
    left: 0;
    
    
}

.title {
    text-align: center;
}

.description {
    text-align: center;
}

form {
    border: 2px solid grey;
    
    text-align: center;
    padding: 20px;
    width: 50%;  
    margin-left: 25%;
    
    
}
form label ,h3, h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

input,select {
    line-height: normal;
    text-align: start;
    cursor: text;
    margin-bottom: 20px;
    /* padding :10px; */
    padding: 2%;
    border-style: inset;
    font-family: Arial, Helvetica, sans-serif;
    font-size: inherit;
    width: 40%;
   
}
#email{
    margin-left: 9%;
}
#number{
    margin-left: 5%;
}

label {
    margin-bottom: 10px;
    font-size: large;
}